* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    color: white;
}

body {
    background-color: #7A0000;
}

.page-container {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

.home-logo {
    position: absolute;
    top: calc(125px + (50 * ((100vh - 568px) / 328)));
    left: 10%;
    transform: translate(5%, -50%);
}

.home-logo h1 {
    font-family: 'Roboto', sans-serif;
    /* text-shadow: 5px 5px 5px black; */
}

.home-logo h1:first-child {
    font-size: calc(44px + (10 * ((100vw - 320px) / 105)));
}

.home-logo h1:nth-child(2) {
    margin-top: -20px;
    font-size: calc(54px + (11 * ((100vw - 320px) / 105)));
}

#homeCar {
    position: absolute;
    top: calc(40% - 100px);
    width: 85vw;
}

.home-about {
    position: absolute;
    top: calc(50% + 15px);
    left: 65px;
    width: 70vw;
}

.home-about p {
    font-size: calc(10px + (10 * ((100vw - 320px) / 105)));
}

.background-line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 100vh;
    border: 1px solid rgb(255, 255, 255, 0.2);
    z-index: -1;
}